.Link{
    background-color: #ed1c24;
    padding:10px 20px;
    border-radius: 40px;
    color: white;
    text-transform: uppercase;
    border: none;
    transition: transform 0.25s;
    width: min-content;
    white-space: nowrap;
    font-weight: bold;
    font-family: 'Open Sans', sans-serif;
    font-weight: 500;
    font-size: 0.9em;
    text-decoration: none;    
}

.Link:hover{
    transform: scale(1.05);
    cursor: pointer;
    background-color: hsl(3, 83%, 64%);
}

@media (max-width: 400px){
    .Link{
        font-size: 1em;
        
    }
}